<h3><%= @product.name  %></h3>
<h5><%= @product.description %></h5>
<h6><%= number_to_currency(@product.price) %></h6>

<% if is_admin? %>
  <%= link_to 'Edit Product', edit_product_path, :class => 'btn btn-success btn-sm'  %>
  <%= link_to 'Delete Product', @product, :method =>'delete', :data => {:confirm => 'You sure?'}, :class => 'btn btn-danger btn-sm'%>
<% end %>

<h3>Reviews</h3>
<% if @product.reviews.any? %>
    <% @product.reviews.each do |review| %>
      <p><%= review.author %> said <%= review.content %>
        <% if is_admin? %>
          <%= link_to(product_review_path(@product, review), :method => 'delete')  do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </p>
    <% end %>

<% else %>
  <p>No reviews yet</p>
<% end %>

<% if current_user %>
<%= link_to 'Add Review', new_product_review_path(@product), class: 'btn btn-info btn-sm' %>
<% else %>
<p>Login to add reviews</p>
<% end %>
